*{
  margin: 0;
}

body{
  /* background-color: #f6f5fa; */
  background-color: lightslategrey;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px ;
}
.app-stats{
  display: flex;
  justify-content: space-between;
}

.app-map{

}
@media (max-width : 990px) {
  .app {
    flex-direction: column;
  }
}
.app-left{
  /* this means app-left container will take 90 % space os the screen */
    flex: 0.9;
}


